<!DOCTYPE html>
<head>   
    <meta charset="utf-8">
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">
    <meta name="description" content="">
    <meta http-equiv="cleartype" coztent="on">
    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="True">
    <link rel="stylesheet" href="/dist/main.css">
    <script src="/dist/main.js"></script>
    {% include './favicon.html.twig' %}
</head>
