///*------------------------------------*\
//    #30-global Utilities
//\*------------------------------------*/
//
///**
// * Global classes useful for overriding default Bootstrap properties, modifying
// * objects and stuff
//**/
//@supports((display: -webkit-box) or (display: flex)) {
//  display: -webkit-box;
//  display: -ms-flexbox;
//  display: flex;
//  -ms-flex-wrap: wrap;
//  flex-wrap: wrap;
//  -webkit-box-orient: horizontal;
//  -webkit-box-direction: reverse;
//  -ms-flex-direction: row-reverse;
//  flex-direction: row-reverse;
//}
//
//@supports not ((display: -webkit-box) or (display: flex)) {
//  display: -webkit-box;
//  -ms-flex-wrap: wrap;
//  flex-wrap: wrap;
//  -webkit-box-orient: horizontal;
//  -webkit-box-direction: reverse;
//  -ms-flex-direction: row-reverse;
//  flex-direction: row-reverse;
//}
//
//svg {
//  max-width: 100%;
//}
//
///* .row:before,.row:after {*/
///*     display: none;*/
///* }*/
//
//a[disabled], a[disabled]:hover {
//   pointer-events: none;
//   color: #777;
//}
//
//.legend {
//  &-disable {
//    color: #777 !important;
//    a {
//      color: #777 !important;
//    }
//  }
//  &-markup {
//    color: $brand-primary !important;
//    a {
//      color: $brand-primary !important;
//    }
//  }
//  &-processing {
//    color: #C89933 !important;
//    a {
//      color: #C89933 !important;
//    }
//  }
//  &-done {
//    color: #379634 !important;
//    a {
//      color: #379634 !important;
//    }
//  }
//}
//
//
//.xs-later {
//  @media only screen and (min-width: 500px) and (max-width: 768px) {
//      width: 50%;
//  }
//}
//
//.slick {
//  &-slide {
//    opacity: 0;
//    -webkit-transition: all .33s ease-in-out;
//    transition: all .33s ease-in-out;
//    outline: none !important;
//    &:focus, &:active, &hover {
//      outline: none !important;
//    }
//  }
//  &-active {
//    opacity: 1;
//  }
//}
//
//// display
//.d {
//  &-block {
//    display: block;
//  }
//  &-inline {
//    display: inline;
//  }
//  &-inline-block {
//    display: inline-block;
//  }
//  &-none {
//    display: none;
//  }
//}
//
//
//#panorama, #gmaps {
//  min-height: calculate-rem(400px);
//  width: 100%;
//  height: 100%;
//  max-width: 100%;
//  position: relative;
//  z-index: 12;
//}
//
//// extras
//
//.shadow {
//  box-shadow: 0 calculate-rem(1px) 0 rgba(0,0,0,.1);
//}
//
//hr {
//  border-top: calculate-rem(1px) solid $iscss-color__grey-1;
//  margin: $iscss-margin--large/2 0;
//
//  &.smaller { margin: $iscss-margin--small 0; }
//
//}
//
//// sible display values
//.d {
//  &-ib { display: inline-block; }
//  &-b { display: block; }
//}
