/*------------------------------------*\
    #50-atoms text
\*------------------------------------*/
////
/// @group text
////

/// @group default
/// @type namespace
$iscss-namespace-text:             $iscss-namespace !default;

.#{$iscss-namespace-text}text {

  // Sizes
  &--small { @include iscss-font-size($iscss-font-size--sm, 1.2); }
  &--large { @include iscss-font-size($iscss-font-size--lg + 4, 1.2); }

  // Colors
  &--primary           { color: $iscss-color__primary !important; }
  &--silver            { color: $iscss-color__silver !important; }
  &--lightblue         { color: $iscss-color__primary--light !important; }
  &--lightblue-alt     { color: $iscss-color__primary--light-alt !important; }
  &--white             { color: $iscss-color__white !important; }

  // Modificators

  &--center, &--right, &--left {
    max-width: 100% !important;
    display: inline-block;
    width: 100%;
  }

  &--center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    > * { float: none !important; }

  }

  &--right {
    text-align: right;
  }

  &--left {
    text-align: left;

    &-m {
      @include media-breakpoint-down(md) {
        text-align: left;
      }
    }
  }

  //

  &--middle-label {
    display: inline-block;
    margin-right: calculate-rem(15px);
  }

}
