as/*------------------------------------*\
    #50-atoms headings
\*------------------------------------*/
////
/// @group headings
////

/// @group default


h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
  color: $iscss-color__primary;
  letter-spacing: .03em;
}

h2 {
  @include iscss-font-size(24px);
}

h3 {
  @include iscss-font-size(18px, 1.33);
}

h4 {
  @include iscss-font-size(14px);
}