///*------------------------------------*\
//    #50-atoms icon
//\*------------------------------------*/
//////
///// @group icon
//////
//
///// @group default
///// @type namespace
//$iscss-namespace-icon:             $iscss-namespace !default;
//
//.#{$iscss-namespace-icon}icon {
//  display: inline-block;
//  background-repeat: no-repeat;
//  background-position: 50% 50%;
//
//  // variants
//  &--medium {
//    width: calculate-rem(42px);
//    height: calculate-rem(42px);
//  }
//
//  // icons
//  &--search {
//    background-image: url('../images/icon-search.png');
//  }
//
//}
