/*------------------------------------*\
    #50-atoms Disclaimer
\*------------------------------------*/
////
/// @group disclaimer
////

/// @group default
/// @type namespace
$iscss-namespace-disclaimer:             $iscss-namespace !default;

.#{$iscss-namespace-disclaimer}disclaimer {

  padding: calculate-rem(30px);
  border: calculate-rem(1px) solid $iscss-color__grey-2;
  background-color: $iscss-color__grey-1;

  p { margin: 0; }

}
