/*------------------------------------*\
    #50-atoms ad
\*------------------------------------*/
////
/// @group ad
////

/// @group default
/// @type namespace
$iscss-namespace-ad:             $iscss-namespace !default;


.#{$iscss-namespace-ad}ad {
  width: 100%;
  width: 100%;

  // temp
  background-color: grey;

  &--vertical {
    height: calculate-rem(500px);
  }
  &--horizontal {
    height: calculate-rem(220px);
  }
}
