/*------------------------------------*\
    #50-atoms Buttons
\*------------------------------------*/
////
/// @group buttons
////

/// @group default
/// @type namespace
$iscss-namespace-buttons:             $iscss-namespace !default;

$breakpoints: (
  xs,
  sm,
  md,
  lg
);

.#{$iscss-namespace-buttons}btn {
  padding: calculate-rem(12px) calculate-rem(20px);
  border-radius: 0;
  border: none;
  @include iscss-transition();
  font-weight: 500;

  &--full {
    width: 100%;

    @include media-breakpoint-down(md) {
      width: auto;
    }

  }

  &-mobile-menu {
    position: fixed;
    top: calculate-rem(20px);
    left: calculate-rem(16px);
    width: calculate-rem(48px);
    height: calculate-rem(48px);
    background-color: transparent;
    z-index: 55;
    border: none;

    &:focus, &:active { outline: none; }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 2px;
      background-color: $iscss-color__primary;
      width: 50%;
      display: block;

      &::before, &::after {
        position: absolute;
        left: 0;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: $iscss-color__primary;
      }

      &::before {
        top: calculate-rem(-6px);
      }

      &::after {
        bottom: calculate-rem(-6px);
      }

    }

  }

  &-load-more {
    display: inline-block;
    background-color: transparent;
    padding: 0;
    width: 0;
    height: 0;
    border-width: calculate-rem(16px);
    border-style: solid;
    border-color: transparent;
    border-top-color: $iscss-color__grey-2;
  }

  &--add-to-cart {
    @include media-breakpoint-down(md) {
      color: transparent !important;
      width: calculate-rem(42px);
    }
    &--full {
      @include media-breakpoint-down(md) {
        color: $iscss-color__primary_white;
        width: auto;
      }
    }
  }

  &-primary {
    background-color: $iscss-color__primary;
    &:active:hover, &:active:focus, &:active.focus,
    &.active:hover, &.active:focus, &.active.focus,
    &:active, &:focus, &:hover {
      background-color: $iscss-color__primary--light-alt;
    }
  }

  &-default {
    background-color: $iscss-color__primary--light-alt;
    border: 1px solid $iscss-color__primary--light-alt;
    color: $iscss-color__white;
    &:active:hover, &:active:focus, &:active.focus,
    &.active:hover, &.active:focus, &.active.focus,
    &:active, &:focus, &:hover {
      background-color: $iscss-color__primary;
      border: 1px solid $iscss-color__primary--light-alt;
      color: $iscss-color__white;
    }
  }

  &-sm {
    @include iscss-font-size(12px);
    font-weight: 600;
  }

  &-lg {
    height: calculate-rem(64px);
  }

  &.text-left {
    text-align: left;
  }
}
