{% spaceless %}
    {#}{% macro component_doc(dev,block,container) %}{#}
    {% macro build(options) %}
            {% set options = options|default({}) %}

            {% if options is empty %}
                <strong>Nie podałeś obiektu podczas wywoływania macro.component_doc</strong>
            {% endif %}

            {% set _label = options.label|default(' Przykladowy label') %}
            {% set _input = options.input|default({}) %}
            {% set _description = options.description|default('format: przyklad tego co masz wprowadzic w polu') %}

            <div class="floating-label">
                <label for="{{options.id|default('przykladowy_id')}}">
                       {{_label}}
                </label>
                <input name="{{_input.name|default('przykladowy_name')}}" class="form-control {{_input.class}}" id="{{options.id|default('przykladowy_id')}}" placeholder="{{_input.placeholder|default('')}}" type="{{_input.type|default('text')}}">
            </div>
            <small id="{{options.id|default('przykladowy_id')}}Help" class="form-text text-muted">
                {{_description}}
            </small>
    {% endmacro %}
{% endspaceless %}