{#
01-atoms/input    
@required variables:
    id 
    placeholder
    type

@optional blocks:
    help_content
    
    
#}

<div class="floating-label">
<label for="{{id|default('przykladowy_id')}}">
    {% block input__label %}
        Przykladowy label
    {% endblock %}    
</label>
<input name="{{name|default('przykladowy_name')}}" class="form-control {{class}}" id="{{id|default('przykladowy_id')}}" placeholder="{{placeholder|default('')}}" type="{{type|default('text')}}">
</div>
<small id="{{id|default('przykladowy_id')}}Help" class="form-text text-muted">
    {% block input__helper %}format: np imie_nazwisko@pgf.com.pl{% endblock %}
</small>