@mixin ripple() {
  .ripple {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.4);
    transform-origin: center center;
    animation: ripple .4s ease-in-out forwards;
    transform: translate(-50%, -50%);
  }
}
