@function map-down($class) {
  @if ($class == xs) {
    @return 575px;
  }

  @else if ($class == sm) {
    @return 767px;
  }

  @else if ($class == md) {
    @return 991px;
  }

  @else if ($class == lg) {
    @return $screen-lg-min - 1px;
  }
}

@function map-up($class) {
  @if ($class == xs) {
    @return 576px;
  }

  @else if ($class == sm) {
    @return 768px;
  }

  @else if ($class == md) {
    @return 992px;
  }

  @else if ($class == lg) {
    @return $screen-lg-min;
  }
}

$breakpoints: "xs" "sm" "md" "lg";

@mixin media-breakpoint-down($class) {

  @if ( index($breakpoints, $class) ) {
    @media (max-width: map-down($class)) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

@mixin media-breakpoint-up($class) {

  @if ( index($breakpoints, $class) ) {
    @media (min-width: map-up($class)) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

@mixin media-breakpoint-between($min-class, $max-class) {

  @if ( index($breakpoints, $min-class) and index($breakpoints, $max-class) ) {
    @media (min-width: map-up($min-class)) and (max-width: map-down($max-class)) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}
