/* ------------------------------------- *\
    #05-tools clearfix
\* ------------------------------------- */

/* Wrap all styles in project global class.
 * Leave empty to output styles directly
 * (apply to all html)
 */
@mixin clearfix() {
  &:after {
    display: block;
    content: " ";
    clear: both;
  }
}
