/* ------------------------------------- *\
    #05-tools Transition
\* ------------------------------------- */


@mixin iscss-transition($property: all, $duration: .22s, $easing: cubic-bezier(.45,.74,.76,.99)) {
  -webkit-transition-delay: 0;
  transition-delay: 0;
  -webkit-transition: $property $duration $easing;
  transition: $property $duration $easing;
}
