/*------------------------------------*\
    #05-tools Line Wrap
\*------------------------------------*/

////
/// @group Line Wrap
////

/// Center an element vertically by calling the mixin from its parent and passing
/// a CSS selector that references the child element to be centered.
/// @author Emmanuel Odongo
/// @since 1.0
/// @example
///   .foo {
///       @include line-wrap(3, 20px, 1.2, 12px);
///   }

@mixin line-wrap($number-of-lines, $font-size, $line-height, $vertical-padding: 0) {
  // Non-webkit solution
  max-height: calculate-rem($number-of-lines * $font-size * $line-height + $vertical-padding);
  word-wrap: break-word;
  overflow: hidden;
  white-space: pre-line;

  // Webkit-only solution
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $number-of-lines;
  -webkit-box-orient: vertical;
}
