/*------------------------------------*\
    #05-tools shadow
\*------------------------------------*/

////
/// @group shadow
////
/// Add a shadow to the element
/// @author Emmanuel Odongo & Kacper Perzankowski
/// @since 1.0
/// @example
///   .card {
///     @include shadow();
///   }
@mixin shadow($offset-x: 0, $offset-y: 0, $blur-radius: 33px, $spread-radius: 0, $color: rgba(99,99,97,0.15), $inset: "") {
  & {
    @if $inset == true {
      -webkit-box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
      -moz-box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
      box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
    } @else {
      -webkit-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
      -moz-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
      box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
    }

  }
}

@mixin shadow-top($hide-at-breakpoint: sm) {
  &:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 50%;
    width: 90vw;
    height: 50vw;
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
    background-color: transparent;
    display: block;
    border-radius: 100%;
    -webkit-box-shadow: 0px 0px 70px 0px rgba(99,99,97,0.4);
    box-shadow: 0px 0px 70px 0px rgba(99,99,97,0.4);
    @include media-breakpoint-down($hide-at-breakpoint) {
      display: none;
    }
  }
}
