/*------------------------------------*\
    #05-tools Underline
\*------------------------------------*/

////
/// @group Underline
////
/// Animate the underline effect on links
/// @author Emmanuel Odongo
/// @since 1.0
/// @example
///   a {
///       @include underline();
///   }
// @mixin underline($vertical-offset: 5px, $color: $iscss-color__primary_magenta) {
//   position: relative;
//   &:before {
//     content: "";
//     position: absolute;
//     bottom: calculate-rem(-$vertical-offset);
//     left: 0;
//     width: 100%;
//     height: 1px;
//     opacity: 0;
//     transform: scaleX(0);
//     background-color: $color;
//     @include iscss-transition(all, .4s, cubic-bezier(.51, 1.09, .86, .98));
//   }

//   &:hover,
//   &:focus {
//     outline: none;
//     text-decoration: none;
//     cursor: pointer;
//     &:before {
//       opacity: 1;
//       transform: scaleX(1);
//     }
//   }
// }
