/*------------------------------------*\
    #05-tools Center Vertically
\*------------------------------------*/

////
/// @group Center Vertically
////

/// Center an element vertically by calling the mixin from its parent and passing
/// a CSS selector that references the child element to be centered.
/// @author Emmanuel 'Flexbox' Odongo
/// @since 1.0
/// @example
///   .foo {
///       @include center-vertically(".bar");
///   }
/// @example-output
///   .foo {
///       display: table;
///   }
///   .foo .bar {
///       display: table-cell;
///       vertical-align: middle;
///       float: none;
///       margin: 0;
///   }

@mixin center-vertically($selector) {
  display: table;
  #{$selector} {
    display: table-cell;
    vertical-align: middle;
    float: none;
    margin: 0;
  }
}
