 
/// @type hex 
$iscss-color__primary_white:            #ffffff; 
 
/// @type hex 
$iscss-color__primary_black:            #000000; 
 
// Project specify colors 
$iscss-color__primary:            #0059a8; 
$iscss-color__primary--light:     #5ed3ff; 
$iscss-color__primary--light-alt: #00a1dd; 
$iscss-color__primary--verydark:  #011020; 
$iscss-color__silver:             #969696; 
$iscss-color__white:              #ffffff; 
$iscss-color__grey-1:             #e2e8ee; 
$iscss-color__grey-2:             #848484; 
$iscss-color__grey-3:             #f1f3f8; 
$iscss-color__grey-4:             #f9fbfc; 
$iscss-color__grey-5:             #4a4a4a; 
$iscss-color__grey-6:             #bebebe; 