/* Grid settings*/
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

/* Colors*/
$brand-primary:         #0f3c74;

// $screen-lg-min: 1270px;
// $container-lg: 1250px;
