/*---------------------------------------------------*\
    #00-settings Fonts
\*---------------------------------------------------*/


/*//*/
/*/ @group fonts*/
/*//*/

/*/ @type font-family*/
$iscss-font-family--base:           'Poppins', Helvetica, Arial, sans-serif;

/*/ 48*/
/*/ @type px*/
$iscss-font-size--xxxl:   3 * $iscss-base-font-size !default;
/*/ 32*/
/*/ @type px*/
$iscss-font-size--xxl:    2 * $iscss-base-font-size !default;
/*/ 24*/
/*/ @type px*/
$iscss-font-size--xl:     1.5 * $iscss-base-font-size !default;
/*/ 18*/
/*/ @type px*/
$iscss-font-size--lg:     1.125 * $iscss-base-font-size !default;
/*/ 16*/
/*/ @type px*/
$iscss-font-size--md:     $iscss-base-font-size !default;
/*/ 14*/
/*/ @type px*/
$iscss-font-size--sm:     0.875 * $iscss-base-font-size !default;
/*/ 12*/
/*/ @type px*/
$iscss-font-size--xs:     0.750 * $iscss-base-font-size !default;
/*/ 10*/
/*/ @type px*/
$iscss-font-size--xxs:     0.625 * $iscss-base-font-size !default;
/*/ 8*/
/*/ @type px*/
$iscss-font-size--xxxs:     0.500 * $iscss-base-font-size !default;



/*/ @type font-weight*/
$iscss-font-weight--bold:        700;
/*/ @type font-weight*/
$iscss-font-weight--semibold:    600;
/*/ @type font-weight*/
$iscss-font-weight--regular:     400;
/*/ @type font-weight*/
$iscss-font-weight--light:       300;
/*/ @type font-weight*/
$iscss-font-weight--extra-light: 200;
