@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes ripple {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    width: 300px;
    height: 300px;
  }
}
