{% spaceless %}
{#}{% macro component_doc(dev,block,container) %}{#}
{% macro component_doc(options) %}
{% set options = options|default({}) %}
{% if options is empty %} <strong>Nie podałeś obiektu podczas wywoływania macro.component_doc</strong> {% endif %}


{% set _dev = options.dev|default('') %}
{% set _block = options.block|default('') %}
{% set _vars = options.vars|default('') %}

{% if _dev is not empty and (_dev == 'show' or _dev == 'hide') %}
{% if _dev == 'show' %}<pre>
{% endif %}
{% if _dev =='hide' %}<!--
{% endif %}
this is   : {% if _block is iterable %}{% for item in _block %}{{item}}{% endfor %}{% else %}{{_block}}{% endif %}

conatiner : {% if _vars is iterable %}{% for item in _vars %}{{item}}
            {% endfor %}{% else %}{{_vars}}{% endif %}
{% if _dev=='show'%}
</pre>{% endif %}
{% if _dev=='hide'%}
-->{% endif %}
{% endif %}
{% endmacro %}
{% endspaceless %}